= form_for @user, :html => { :class => 'form-horizontal user-edit-form' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :username, :class => 'control-label'
    .controls
      = f.text_field :username, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :user_type, :class => 'control-label'
    .controls
      /= f.text_field :user_type, :class => 'text_field'
      = f.select :user_type, options_for_select(["Viewer", "Advertiser"]), :class => 'select'
  .control-group
    = f.label :birthday, :class => 'control-label'
    .controls
      = f.text_field :birthday, class: "text_field", value: Date.current
  .control-group
    = f.label :country, :class => 'control-label'
    .controls
      = f.text_field :country, :class => 'text_field'
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password, :class => 'text_field'
  .control-group
    = f.label :password_confirmation, :class => 'control-label'
    .controls
      = f.password_field :password_confirmation, :class => 'text_field'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'

/ FIXME country and date select