:javascript
  $(function() {
    $("[data-behaviour~='datepicker']").datepicker({
      "format": "yyyy-mm-dd",
      "weekStart": 1,
      "autoclose": true
    });
  });

= form_for @user, :html => { :class => 'form-horizontal user-edit-form' } do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :user_type, :class => 'control-label'
    .controls
      - unless current_user
        = f.select :user_type, options_for_select(["Viewer", "Advertiser"]), :class => 'select'
      - else
        = f.select :user_type, options_for_select(["Viewer", "Advertiser"], @user.user_type), :class => 'select'
  .control-group
    = f.label :username, :class => 'control-label'
    .controls
      = f.text_field :username, :class => 'text_field'
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password, :class => 'text_field'
  .control-group.pass-conf
    = f.label :password_confirmation, :class => 'control-label'
    .controls
      = f.password_field :password_confirmation, :class => 'text_field'
  .control-group
    = f.label :birthday, :class => 'control-label'
    .controls
      = f.text_field :birthday, "class" => "text_field", "data-behaviour" => "datepicker"
  .control-group
    = f.label :gender, :class => 'control-label'
    .controls
      - unless current_user
        = f.select :gender, options_for_select(["Male", "Female"]), :class => 'select'
      - else
        = f.select :gender, options_for_select(["Male", "Female"], @user.gender), :class => 'select'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
