= form_for @advertisement, :html => { :class => 'form-horizontal user-edit-form' } do |f|
  - if @advertisement.errors.any?
    #error_explanation
      %h2= "#{pluralize(@advertisement.errors.count, "error")} prohibited this advertisement from being saved:"
      %ul
        - @advertisement.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :content_link, "youtube link", :class => 'control-label'
    .controls
      = f.text_field :content_link, :class => 'text_field'
  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      = f.check_box :active
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
