- if @is_my_rated_ads
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

#fb-root
!= facebook_connect_js_tag
%script
  != facebook_init_script

:javascript
  var pageName = "index";

  $(function() {
    $('.dropdown-toggle').dropdown();
    $(".carousel-inner .item:first").addClass("active");

    $("span.star-rating-control div.star-rating").click(function() { 
      $.ajax({
        type: "POST",
        dataType: "json",
        url: ($(this).parents("form").attr("action") + ".json"),
        data: { rating: { value: $(this).parents("form").find("[name='rating[value]']:checked").val() } },
        success: function(obj) {
          $("#car_item_" + obj.ad_id).find(".rating").text(obj.rating).removeClass("hidden");
          $("#car_item_" + obj.ad_id).find("div.field").text("Your rating: " + obj.your_rating).children().remove();
        }
      });
    });

    $("body").keydown(function(e){
      // left arrow
      if (e.which == 37)
      {   
          $("#myCarousel").carousel("prev");
      }
      // right arrow
      if (e.which == 39)
      {
          $("#myCarousel").carousel("next");
      }   
    });
  });

- unless @advertisements.size > 0
  %h3.no-ads
    There are no new ads to show
- else
  #myCarousel.carousel.slide{"data-interval"=>"false"}
    / Carousel items
    .carousel-inner
      - @advertisements.each do |advertisement|
        .item{:id => "car_item_#{advertisement.id}"}
          .inner-item
            %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/#{advertisement.content_link}?rel=0", :title => "YouTube video player", :width => "640"}

            .ad-data
              - if advertisement.user_id == current_user.try(:id)
                .name
                  = advertisement.name.titleize
                  (
                  = link_to 'Edit', edit_advertisement_path(advertisement)
                  )
              - else
                .name= advertisement.name.titleize

              .rating
                = advertisement.rating.round(2) if advertisement.rating > 0

              - if current_user && !current_user.advertiser?
                .user-rating
                  - user_rating = advertisement.user_rating(current_user.id).try(:value)
                  - if user_rating.present?
                    = "Your rating: #{user_rating}"
                  - else
                    = form_for advertisement.ratings.build, url: rate_ad_path(advertisement.id) do |f|
                      .field
                        - 5.times do |i|
                          = f.radio_button :value, i+1, :class => 'star'
              
              .stats_count
                %p.first=  "Raters: #{advertisement.ratings_count}"
                %p.second= "Shares: #{advertisement.shares}"

              %button.facebook_share{ :id => "fb_share_#{advertisement.id}" }
              :javascript
                $("#fb_share_#{advertisement.id}").click(function () {
                  FB.ui({method: 'feed', link: "http://www.youtube.com/watch?v=#{advertisement.content_link}", name: "Check out this awesome ad", description: "As seen on:", properties: [{ text: 'Keekit', href: 'http://keekit.heroku.com/'}]});

                  $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/shared/#{advertisement.id}",
                    data: { }
                  });

                  return false;
                });

            
            - if @is_my_rated_ads && advertisement.ratings_count > 0
              .kt-graphs
                .gender_graph{ :id => "gender_graph_#{advertisement.id}", :style => "height:250px;width:400px;" }

                - average_by = advertisement.average_rating_by_gender

                :javascript
                  $('#gender_graph_#{advertisement.id}').highcharts({
                    chart: {
                      backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                          [0, 'rgb(96, 96, 96)'],
                          [1, 'rgb(16, 16, 16)']
                        ]
                      },
                      type: 'column'
                    },
                    title: {
                      text: 'Average Rating By Gender'
                    },
                    xAxis: {
                      categories: [
                        'Gender'
                      ]
                    },
                    yAxis: {
                      min: 0,
                      max: 5,
                      title: {
                        text: 'Average Rating'
                      }
                    },
                    tooltip: {
                      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                    },
                    plotOptions: {
                      column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                      }
                    },
                    series: [{
                      name: 'Male',
                      data: [#{average_by[:male_average]}],
                      color: 'lightblue'
                    }, {
                      name: 'Female',
                      data: [#{average_by[:female_average]}],
                      color: 'pink'
                    }]
                  });

                .age_graph{ :id => "age_graph_#{advertisement.id}", :style => "height:250px;width:605px;" }

                - average_by = advertisement.average_rating_by_age_and_gender

                :javascript
                  $('#age_graph_#{advertisement.id}').highcharts({
                    chart: {
                      backgroundColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                        stops: [
                          [0, 'rgb(96, 96, 96)'],
                          [1, 'rgb(16, 16, 16)']
                        ]
                      },
                      type: 'column'
                    },
                    title: {
                      text: 'Average Rating By Age and Gender'
                    },
                    xAxis: {
                      categories: [
                        'Under 14',
                        '14-17',
                        '18-25',
                        '26-35',
                        '36-45',
                        '46-60',
                        'Over 60'
                      ]
                    },
                    yAxis: {
                      min: 0,
                      max: 5,
                      title: {
                        text: 'Average Rating'
                      }
                    },
                    tooltip: {
                      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                      footerFormat: '</table>',
                      shared: true,
                      useHTML: true
                    },
                    plotOptions: {
                      column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                      }
                    },
                    series: [{
                      name: 'Male',
                      data: [#{average_by[:u13][:male]}, #{average_by[:u17][:male]}, #{average_by[:u25][:male]}, #{average_by[:u35][:male]}, #{average_by[:u45][:male]}, #{average_by[:u60][:male]}, #{average_by[:o60][:male]}],
                      color: 'lightblue'
                    }, {
                      name: 'Female',
                      data: [#{average_by[:u13][:female]}, #{average_by[:u17][:female]}, #{average_by[:u25][:female]}, #{average_by[:u35][:female]}, #{average_by[:u45][:female]}, #{average_by[:u60][:female]}, #{average_by[:o60][:female]}],
                      color: 'pink'
                    }, {
                      name: 'Total',
                      data: [#{average_by[:u13][:total]}, #{average_by[:u17][:total]}, #{average_by[:u25][:total]}, #{average_by[:u35][:total]}, #{average_by[:u45][:total]}, #{average_by[:u60][:total]}, #{average_by[:o60][:total]}],
                      color: 'teal'
                    }]
                  });


    / Carousel nav
    %a.carousel-control.left{href: "#myCarousel", "data-slide" => "prev"} &lsaquo;
    %a.carousel-control.right{href: "#myCarousel", "data-slide" => "next"} &rsaquo;

/ REMOVE THIS
/ - unless Rails.env.production?
/   %table
/     %tr
/       %th Name
/       %th Active
/       %th Shares
/       %th Ratings count
/       %th Rating
/       %th Created at
/       %th Updated at
/       %th Content link
/       %th Ad type
/       %th User id

/     - @advertisements.each do |advertisement|
/       %tr
/         %td= advertisement.name
/         %td= advertisement.active
/         %td= advertisement.shares
/         %td= advertisement.ratings_count
/         %td= advertisement.rating
/         %td= advertisement.created_at
/         %td= advertisement.updated_at
/         %td= advertisement.content_link
/         %td= advertisement.ad_type
/         %td= advertisement.user_id
/         %td= link_to 'Show', advertisement
/         %td= link_to 'Edit', edit_advertisement_path(advertisement)
/         %td= link_to 'Destroy', advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }
