#fb-root
!= facebook_connect_js_tag
%script
  != facebook_init_script

:javascript
  var pageName = "index";

  $(function() {
    $('.dropdown-toggle').dropdown();
    $(".carousel-inner .item:first").addClass("active");

    $("span.star-rating-control div.star-rating").click(function() { 
      $.ajax({
        type: "POST",
        dataType: "json",
        url: ($(this).parents("form").attr("action") + ".json"),
        data: { rating: { value: $(this).parents("form").find("[name='rating[value]']:checked").val() } },
        success: function(obj) {
          $("#car_item_" + obj.ad_id).find(".rating").text(obj.rating).removeClass("hidden");
          $("#car_item_" + obj.ad_id).find("div.field").text("Your rating: " + obj.your_rating).children().remove();
        }
      });
    });
  });

- unless @advertisements.size > 0
  %h3.no-ads
    There are no new ads to show
- else
  #myCarousel.carousel.slide{"data-interval"=>"false"}
    / Carousel items
    .carousel-inner
      - @advertisements.each do |advertisement|
        .item{:id => "car_item_#{advertisement.id}"}
          .inner-item
            %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "390", :src => "http://www.youtube.com/embed/#{advertisement.content_link}?rel=0", :title => "YouTube video player", :width => "640"}

            .ad-data
              - if advertisement.user_id == current_user.try(:id)
                .name
                  = advertisement.name.titleize 
                  (
                  = link_to 'Edit', edit_advertisement_path(advertisement)
                  )
              - else
                .name= advertisement.name.titleize

              .rating{:class => ((advertisement.rating > 0) ? "" : "hidden")}
                = advertisement.rating.round(2)

              - if current_user && !current_user.advertiser?
                .user-rating
                  - user_rating = advertisement.user_rating(current_user.id).try(:value)
                  - if user_rating.present?
                    = "Your rating: #{user_rating}"
                  - else
                    = form_for [advertisement, advertisement.ratings.build] do |f|
                      .field
                        - 5.times do |i|
                          = f.radio_button :value, i+1, :class => 'star'
              
              %button.facebook_share{ :id => "fb_share_#{advertisement.id}" }
              :javascript
                $("#fb_share_#{advertisement.id}").click(function () {
                  FB.ui({method: 'feed', link: "http://www.youtube.com/watch?v=#{advertisement.content_link}", name: "Check out this awesome ad", description: "As seen on:", properties: [{ text: 'Keekit', href: 'http://keekit.heroku.com/'}]});
                  return false;
                });

    / Carousel nav
    %a.carousel-control.left{href: "#myCarousel", "data-slide" => "prev"} &lsaquo;
    %a.carousel-control.right{href: "#myCarousel", "data-slide" => "next"} &rsaquo;

/ REMOVE THIS
- unless Rails.env.production?
  %table
    %tr
      %th Name
      %th Active
      %th Views
      %th Ratings count
      %th Rating
      %th Created at
      %th Updated at
      %th Content link
      %th Ad type
      %th User id

    - @advertisements.each do |advertisement|
      %tr
        %td= advertisement.name
        %td= advertisement.active
        %td= advertisement.views
        %td= advertisement.ratings_count
        %td= advertisement.rating
        %td= advertisement.created_at
        %td= advertisement.updated_at
        %td= advertisement.content_link
        %td= advertisement.ad_type
        %td= advertisement.user_id
        %td= link_to 'Show', advertisement
        %td= link_to 'Edit', edit_advertisement_path(advertisement)
        %td= link_to 'Destroy', advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }
