%p#notice= notice

%script
  var page_name = "index";

#myCarousel.carousel.slide{"data-interval"=>"false"}
  / Carousel items
  .carousel-inner
    - @advertisements.each do |advertisement|
      .item{:id => "ad_#{advertisement.id}"}
        .inner-item
          %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/#{advertisement.content_link}?rel=0", :title => "YouTube video player", :width => "640"}

          .ad-data
            - if advertisement.user_id == current_user.try(:id)
              .name
                = advertisement.name 
                (
                = link_to 'Edit', edit_advertisement_path(advertisement)
                )
            - else
              .name= advertisement.name

            .rating{:class => ((advertisement.rating > 0) ? "" : "hidden")}
              = advertisement.rating.round(2)

            - if current_user && !current_user.advertiser?
              .user-rating
                - user_rating = advertisement.user_rating(current_user.id).try(:value)
                - if user_rating.present?
                  = "Your rating: #{user_rating}"
                - else
                  = form_for [advertisement, advertisement.ratings.build] do |f|
                    .field
                      - 5.times do |i|
                        = f.radio_button :value, i+1, :class => 'star'

  / Carousel nav
  %a.carousel-control.left{href: "#myCarousel", "data-slide" => "prev"} &lsaquo;
  %a.carousel-control.right{href: "#myCarousel", "data-slide" => "next"} &rsaquo;

/ REMOVE THIS
%table
  %tr
    %th Name
    %th Active
    %th Views
    %th Ratings count
    %th Rating
    %th Created at
    %th Updated at
    %th Content link
    %th Ad type
    %th User id

  - @advertisements.each do |advertisement|
    %tr
      %td= advertisement.name
      %td= advertisement.active
      %td= advertisement.views
      %td= advertisement.ratings_count
      %td= advertisement.rating
      %td= advertisement.created_at
      %td= advertisement.updated_at
      %td= advertisement.content_link
      %td= advertisement.ad_type
      %td= advertisement.user_id
      %td= link_to 'Show', advertisement
      %td= link_to 'Edit', edit_advertisement_path(advertisement)
      %td= link_to 'Destroy', advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }
