%p#notice= notice

%p
  %b Name:
  = @advertisement.name
%p
  %b Views:
  = @advertisement.views
%p
  %b Rating:
  = @advertisement.rating
%p
  %b user_id:
  = @advertisement.user_id

%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/#{@advertisement.content_link}?rel=0", :title => "YouTube video player", :width => "640"}

/ show a list of all ratings (for debugging), uncomment only when neccesary
/ %h2 Ratings:
/ - @advertisement.ratings.each do |rating|
/   %p
/     %b value:
/     = rating.value
/   %p
/     %b user_id:
/     = rating.user_id
/   %p
/     %b advertisement_id:
/     = rating.advertisement_id

- if current_user
  %br
  %br
  - if @user_rated
    %p
      %b Your rating:
      = @user_rating
  - else
    %h3 Rate:
    = form_for [@advertisement, @advertisement.ratings.build] do |f|
      .field
        = f.select :value, options_for_select((1..10).to_a)
      .actions
        = f.submit 'Rate'

%br

= link_to 'Edit', edit_advertisement_path(@advertisement)
\|
= link_to 'Back', advertisements_path
